# Example .gitignore file for your config dir. Lines with ! will not be ignored.
/*
!sensors
!groups
!customize
!custom_components
!*.yaml
!.gitignore
!*.md
!*.travis.yml
!os_misc.tgz
*.conf
*.txt
*.log
.storage
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
